.projects {
  &__title {
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  &-header {
    display: flex;
    background-color: #414348;
    color: #fff;

    &__item {
      width: 12%;
      padding: 12px;
      text-align: center;
    }
  }

  &-row {
    display: flex;

    &:nth-child(odd) {
      background-color: #f7f7f7;
    }

    &__item {
      text-align: center;
      width: 12%;
      padding: 12px;
    }
  }
}
